apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  labels:
    app: todo-app
spec:
  selector:
    matchLabels:
      app: todo-app
  replicas: 2
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
       - name: todo-app
         image: avulamahesh/todo-app:$version
         ports:
         - containerPort: 80
---
apiVersion: v1
kind: Service 
metadata:
  name: todo-app-service  
spec:
  selector:
    app: todo-app 
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080